<%= stylesheet_link_tag 'buttons', :plugin => 'redmine_omniauth_google' %>

<% if Setting.plugin_redmine_omniauth_google[:oauth_authentification] %>
 <%= content_tag :div, :class => 'container-link-google' do %>
      <%= link_to oauth_google_path(:back_url => back_url) do %>
        <%= button_tag :class => 'button-login' do %>
            <span class="icon"></span>
            <%= content_tag :span, l(:login_via_google), :class => 'button-text' %>
        <% end %>
      <% end %>
  <% end %>
<% end %>
